@charset "UTF-8";
/* CSS Document */



footer{
     text-align: center;
	 margin-bottom: 18px;
	
}


li {
	border-right: 4px solid #33cccc;
	
}



.navbar-brand{
	border-right: 4px solid #33cccc;
	font-weight: bold;
	text-shadow:  1px 1px 1px white;
	
}




.navbar-static-top {
	margin-top: 10px;
    margin-bottom: 20px;
    background-color: orange;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 17px;
	border: 4px solid gray;
	border-radius: 8px;

}



.row{
	border: 1px dashed white;
	background-image: url("../images2/background.png");
	margin-bottom: 10px;
}


img{
	margin-bottom: 20px;
}


.thumb {
    margin-bottom: 30px;
	vertical-align: top;
}


h1, h2{
    color: white;
	text-shadow:  1.2px 1.2px 1.2px #33cccc;
	font-family: "Comic Sans MS", cursive, sans-serif;

}


.pd{
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: white;
	font-size: 15px;
	text-shadow:  2px 2px 2px black;
	
}




